/*$neoBlack: #0F1B21;*/
/* line 2, ../dev/sass/_base.scss */
.row {
  margin-top: 0.5rem;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #1e6b89;
  height: 100px;
}

/* line 25, ../dev/sass/_base.scss */
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 8%;
  -ms-flex: 1 1 8%;
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
  background: #2d2f33;
}

/* nested grids */
/* line 37, ../dev/sass/_base.scss */
.row .row, .row.nested {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

/* full width grids */
/* line 45, ../dev/sass/_base.scss */
.row.wide-fit {
  margin-left: -10px;
  margin-right: -10px;
}

/* center grids */
/* line 51, ../dev/sass/_base.scss */
.row.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 57, ../dev/sass/_base.scss */
.center .col {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/* columns widths */
/* line 68, ../dev/sass/_base.scss */
.col-span-1 {
  -webkit-flex-basis: 8.3333%;
  -ms-flex-preferred-size: 8.3333%;
  flex-basis: 8.3333%;
}

/* line 73, ../dev/sass/_base.scss */
.col-span-2 {
  -webkit-flex-basis: 16.6666%;
  -ms-flex-preferred-size: 16.6666%;
  flex-basis: 16.6666%;
}

/* line 78, ../dev/sass/_base.scss */
.col-span-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

/* line 83, ../dev/sass/_base.scss */
.col-span-4 {
  -webkit-flex-basis: 33.3333%;
  -ms-flex-preferred-size: 33.3333%;
  flex-basis: 33.3333%;
}

/* line 88, ../dev/sass/_base.scss */
.col-span-5 {
  -webkit-flex-basis: 41.6666%;
  -ms-flex-preferred-size: 41.6666%;
  flex-basis: 41.6666%;
}

/* line 93, ../dev/sass/_base.scss */
.col-span-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

/* line 98, ../dev/sass/_base.scss */
.col-span-7 {
  -webkit-flex-basis: 58.3333%;
  -ms-flex-preferred-size: 58.3333%;
  flex-basis: 58.3333%;
}

/* line 103, ../dev/sass/_base.scss */
.col-span-8 {
  -webkit-flex-basis: 66.6666%;
  -ms-flex-preferred-size: 66.6666%;
  flex-basis: 66.6666%;
}

/* line 108, ../dev/sass/_base.scss */
.col-span-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}

/* line 113, ../dev/sass/_base.scss */
.col-span-10 {
  -webkit-flex-basis: 83.3333%;
  -ms-flex-preferred-size: 83.3333%;
  flex-basis: 83.3333%;
}

/* line 118, ../dev/sass/_base.scss */
.col-span-11 {
  -webkit-flex-basis: 91.6666%;
  -ms-flex-preferred-size: 91.6666%;
  flex-basis: 91.6666%;
}

/* line 123, ../dev/sass/_base.scss */
.col-span-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

/* examples */
/* line 130, ../dev/sass/_base.scss */
.fixed-width {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 500px;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px;
  background-color: rgba(255, 0, 0, 0.1);
}

/* line 137, ../dev/sass/_base.scss */
.col {
  background-color: green;
  background-color: rgba(88, 143, 253, 0.2);
  background-clip: content-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
