// Blueant color library
$cobalt:#101D22;
 $plasticBlue:#2B8AB8;
 $plasticBlue2:#588ffd;
 $aquaBlue:#1E6B89;
//$neonBlue: #2AB5D2;
$neonBlue:#588ffd;

/*$neoBlack: #0F1B21;*/

$neoBlack:#25272b;
//$blueMetal: #50666D;
$blueMetal:#2d2f33;
